.player {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
    top: -230px;
    height: calc(100% + 460px);
}

.is-paused {
    background: black;
}

.MuiSlider-rail,
.MuiSlider-track {
    display: none !important;
}

.MuiSlider-thumb {
    width: 2px !important;
    height: 30px !important;
    border-radius: 0 !important;
}
